spring:
  application:
    name: search-foundry
  profiles:
    default: local
  jackson:
    deserialization:
      fail-on-unknown-properties: false

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n"

app:
  index:
    bootstrap:
      enabled: false
      version: 1
